.contactDiv {
  border: 2px solid rgb(109, 139, 158);
  border-radius: 5px;
  background-color: rgb(167, 171, 172);
  width: 280px; 
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.containerName,
.containerNumber {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.containerNumber {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 150px; 
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  height: 30px;
  font-size: 14px;
  flex-shrink: 0; 
}

.name {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.number {
  font-size: 14px;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}
